# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/src/test/browsers/chromedriver.exe
!/src/test/browsers/IEDriverServer.exe
target/generated-sources/
target/generated-test-sources/
